<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <nav class="navbar navbar-default" id="mediaNavbar">
            <div class="container-fluid">
                <ul class="nav navbar-nav">

                    <!-- Dropdown for "for change" -> Start -->
                    <li class="dropdown" appdropdown>
                        <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">{{forChange}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a (click)="setMediaToAudio()" [routerLink] = "['/media', 'changeList']">Audio</a></li>
                            <li><a (click)="setMediaToVideo()" [routerLink] = "['/media', 'changeList']">Video</a></li>
                        </ul>
                    </li>
                    <!-- Dropdown for "for change" -> End -->

                    <!-- Dropdown for "allowed list" -> Start -->
                    <li class="dropdown" appdropdown>
                        <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">{{allowedList}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a (click)="setMediaToAudio()" [routerLink] = "['/media', 'allowedList']">Audio</a></li>
                            <li><a (click)="setMediaToVideo()" [routerLink] = "['/media', 'allowedList']">Video</a></li>
                        </ul>
                    </li>
                    <!-- Dropdown for "allowed list" -> End -->

                    <!-- Dropdown for "personal list" -> Start -->
                    <li class="dropdown" appdropdown>
                        <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">{{personalList}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a (click)="setMediaToAudio()" [routerLink] = "['/media', 'personalList']">Audio</a></li>
                            <li><a (click)="setMediaToVideo()" [routerLink] = "['/media', 'personalList']">Video</a></li>
                            <button class="btn btn-info" [routerLink]="['/media', 'newMedia']">{{newMedia}}</button>
                        </ul>
                    </li>
                    <!-- Dropdown for "personal list" -> End -->
                </ul>
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>

<!-- Outlet for media view -> Start -->

    <div class="row">
        <div class="col-md-4">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-8">
            <app-show-media></app-show-media>
        </div>
    </div>

<!-- Outlet for media view -> End -->







