<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-2">
        <h5 class="text-md-right">Contact</h5>
        <hr>
      </div>

        <form>

        <div class="col-md-4">
          <fieldset class="form-group">
            <input type="email" class="form-control" placeholder="email">
          </fieldset>
        </div>

          <div class="col-md-4">
          <fieldset class="form-group">
            <textarea class="form-control" placeholder="emailtext" rows="2"></textarea>
          </fieldset>
          </div>

          <div class="col-md-2">
          <fieldset class="form-group text-xs-right">
            <button type="submit" class="btn btn-secondary-outline btn-lgc">Send</button>
          </fieldset>
          </div>

        </form>

    </div>
  </div>
</footer>

</body>
</html>