<div class="container" id="basicContainer">
    <form [formGroup]="personalForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>{{personal}}</legend>
                <div class="row">

                    <div class="col-md-4">
                        <img src="{{imageSrc}}" alt="" id="personalImage">
                    </div>

                    <div class="col-md-6 col-md-offset-1">

                        <div class="form-group">
                            <label for="name">{{nameTitle}}</label>
                            <input type="text" class="form-control" id="name" formControlName="name">
                        </div>

                        <div class="form-group">
                            <label for="newPassword">{{newPasswordTitle}}</label>
                            <input type="password" class="form-control" id="newPassword"
                                   formControlName="newPassword" placeholder="{{newPasswordPlaceholder}}">
                        </div>

                        <div class="form-group" *ngIf="passwordLength()">
                            <label for="newPasswordRepeat">{{newPasswordRepeatTitle}}</label>
                            <input type="password" class="form-control" id="newPasswordRepeat"
                            formControlName="newPasswordRepeat">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-info" [disabled]="disabledForm()">{{update}}</button>
                        </div>

                    </div>
                </div>
        </fieldset>
    </form>
</div>