#basicContainer {
    margin-top: 12rem;
}

form .ng-invalid{
    border: 1px solid crimson;
}

#imageShow {
    width: 20rem;
    margin-bottom: 2rem;
}

#imageUpload {
    width: 80%;
}

/* Css for upload form */
#uploadImage {
    visibility: hidden;
}

#uploadImageShow {
    background-color: #1CB94A;
}