<!-- Menu with content and footer -> Start -->

<div class="pure-container" data-effect="pure-effect-push">
  <input type="checkbox" id="pure-toggle-left" class="pure-toggle" data-toggle="left"/>
  <label class="pure-toggle-label" for="pure-toggle-left" data-toggle-label="left"><span class="pure-toggle-icon"></span></label>

  <nav class="pure-drawer" data-position="left">

    <!-- menu for large display -> without refresh -> Start -->

    <ul class="hideForSmall" style="padding: 100px 20px; margin: 0;">

      <!-- set language -> Start -->

      <div class="languageFlegs">
        <img src="./assets/images/flagsIcon/gb-22.png" alt="en" (click)="changeToEnglisch()">
        <img src="./assets/images/flagsIcon/de-22.png" alt="de" (click)="changeToGerman()">
        <img src="./assets/images/flagsIcon/hr-22.png" alt="hr" (click)="changeToCroatian()">
      </div>

      <!-- set language -> End -->

      <li><a [routerLink] = "['/home']" routerLinkActive="active">{{home}}</a></li>
      <li *ngIf="!isAuth()"><a [routerLink] = "['/registerLogin']" routerLinkActive="active">{{registerLogin}}</a></li>
      <li *ngIf="isAuth()"><a [routerLink] = "['/personal']" routerLinkActive="active">{{personal}}</a></li>
      <li *ngIf="isAuth()"><a [routerLink] = "['/media']" routerLinkActive="active">{{media}}</a></li>
      <li *ngIf="isAuth()"><a [routerLink] = "['/newMedia']" routerLinkActive="active">{{newMedia}}</a></li>
      <!-- b) Disabled    <li *ngIf="isAuth()"><a [routerLink] = "['/users']" routerLinkActive="active">{{users}}</a></li>-->
      <li><a [routerLink] = "['/contact']" routerLinkActive="active">{{contact}}</a></li>
      <li *ngIf="isAuth()" style="cursor: pointer"><a (click)="logoutFunction()">{{logout}}</a></li>
    </ul>

    <!-- menu for large display -> without refresh -> End -->

    <!-- menu for small display -> with refresh -> For future work -> Start -->

    <ul class="hideForLarge" style="padding: 100px 20px; margin: 0;">

      <!-- set language -> Start -->

      <div class="languageFlegs">
        <img src="./assets/images/flagsIcon/gb-22.png" alt="en" (click)="changeToEnglisch()">
        <img src="./assets/images/flagsIcon/de-22.png" alt="de" (click)="changeToGerman()">
        <img src="./assets/images/flagsIcon/hr-22.png" alt="hr" (click)="changeToCroatian()">
      </div>

      <!-- set language -> End -->

      <li><a [routerLink] = "['/home']" routerLinkActive="active">{{home}}</a></li>
      <li *ngIf="!isAuth()"><a [routerLink] = "['/registerLogin']" routerLinkActive="active">{{registerLogin}}</a></li>
      <li *ngIf="isAuth()"><a [routerLink] = "['/personal']" routerLinkActive="active">{{personal}}</a></li>
      <li *ngIf="isAuth()"><a [routerLink] = "['/media']" routerLinkActive="active">{{media}}</a></li>
      <li *ngIf="isAuth()"><a [routerLink] = "['/newMedia']" routerLinkActive="active">{{newMedia}}</a></li>
      <!-- b) Disabled  <li *ngIf="isAuth()"><a [routerLink] = "['/users']" routerLinkActive="active">{{users}}</a></li>-->
      <li><a [routerLink] = "['/contact']" routerLinkActive="active">{{contact}}</a></li>
      <li *ngIf="isAuth()" style="cursor: pointer"><a (click)="logoutFunction()">{{logout}}</a></li>
    </ul>

    <!-- menu for small display -> with refresh -> For future work -> End -->

  </nav>

  <!-- Page content -> Start -->

  <div class="pure-pusher-container">
    <div class="pure-pusher">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <!-- Page content -> End -->

  <label class="pure-overlay" for="pure-toggle-left" data-overlay="left"></label>
</div>

<!-- Menu with content and footer -> End -->

