<h3>{{personal}}</h3>
<h4>{{currentViewMedia}}</h4>

<form>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="{{searchMessage}}"
               #searchValue (input)="searchTerm = $event.target.value">
    </div>
</form>

<!-- Show list for audio -> Start -->

<ul class="list-group" *ngIf="currentViewMedia == 'Audio'">
    <li class="list-group-item" *ngFor="let audio of audioPersonalView" (click)="setCurrentMedia(audio)"
        [ngClass]="{currentView: currentAudioId == audio.id}">
        {{audio.band + ' - ' + audio.album}}<span *ngIf="audio.year">{{' (' + audio?.year + ')'}}</span></li>
</ul>

<!-- Show list for audio -> End -->

<!-- Show list for video -> Start -->

<ul class="list-group" *ngIf="currentViewMedia == 'Video'">
    <li class="list-group-item" *ngFor="let video of videoPersonalView" (click)="setCurrentMedia(video)"
        [ngClass]="{currentView: currentVideoId == video.id}">
        {{video.name}}<span *ngIf="video.year">{{' (' + video?.year + ')'}}</span></li>
</ul>

<!-- Show list for video -> End -->