/* "Disable" input through CSS */
#audioChangeAllowedForm > form > fieldset > div > div {
    pointer-events: none;
}

a {
    pointer-events: auto;
}

/* Enable input for send offer */
#offer {
    pointer-events: auto;
}

/* Class for hide component */
.hideThis {
    visibility: hidden;
    position: absolute;
}

.hideShowButton {
    background-color: transparent;
    color: #4cae4c;
    margin: 0 0 1.75rem 2.2rem;
}

/* Css for upload form */
.uploadImage {
    visibility: hidden;
}

.uploadImageShow {
    background-color: #1CB94A;
}

.styleForNotFeatured {
    opacity: 0.4;
}