  <!-- Show for changeable and available media -> Template drive approach -> Start -->
  <div class="row" id="audioChangeAllowedForm" *ngIf="currentPurpose != 'Personal' && currentMedia.id">

    <form>
      <fieldset>
        <legend>{{currentMedia?.album}}{{currentMedia?.name}}
          <span *ngIf="!currentMedia.album && !currentMedia.name">{{selectMedia}}</span>
        </legend>

        <div class="col-md-6" *ngIf="categoryName != undefined">
          <div class="form-group">
            <label for="category">{{mediaCategory}}</label>
            <input type="text" class="form-control" id="category"
                   value="{{categoryName}}">
          </div>
        </div>

        <div class="col-md-6" *ngIf="conditionName != undefined">
          <div class="form-group">
            <label for="condition">{{condition}}
              <a target="_blank" href="http://www.goldminemag.com/collector-resources/record-grading-101">
                (global)</a></label>
            <input type="text" class="form-control" id="condition" value="{{conditionName}}">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="bandDirector" *ngIf="currentMediaType == 'Audio'">{{band}}</label>
            <label for="bandDirector" *ngIf="currentMediaType == 'Video'">{{director}}</label>
            <input type="text" class="form-control" id="bandDirector"
                   value="{{currentMedia?.band}}{{currentMedia?.director}}">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="albumName" *ngIf="currentMediaType == 'Audio'">{{album}}</label>
            <label for="albumName" *ngIf="currentMediaType == 'Video'">{{name}}</label>
            <input type="text" class="form-control" id="albumName"
                   value="{{currentMedia?.album}}{{currentMedia?.name}}">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="year">{{year}}</label>
            <input type="number" class="form-control" id="year" value="{{currentMedia?.year}}">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="first_release_year">{{originalReleaseYear}}</label>
            <input type="number" class="form-control" id="first_release_year"
                   value="{{currentMedia?.first_release_year}}">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="description">{{description}}</label>
            <br />
            <textarea rows="6" style="width: 100%" id="description">{{currentMedia?.description}}</textarea>
          </div>
        </div>

        <div class="col-md-6" *ngIf="currentMediaType == 'Audio'">
          <div class="form-group">
            <label for="label">{{label}}</label>
            <input type="text" class="form-control" id="label" value="{{currentMedia?.label}}">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="barcode_numbers">{{barcodeNumber}}</label>
            <input type="text" class="form-control" id="barcode_numbers" value="{{currentMedia?.barcode_numbers}}">
          </div>
        </div>

        <div class="col-md-6" *ngIf="currentMediaType == 'Audio'">
          <div class="form-group">
            <label for="cat">CAT</label>
            <input type="text" class="form-control" id="cat" value="{{currentMedia?.cat}}">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="owner_name">{{owner}}</label>
            <input type="text" class="form-control" id="owner_name" value="{{currentMedia?.owner_name}}">
          </div>
        </div>

        <!-- Hide / Show buttons -> Start -->
        <div class="col-sm-12">
          <button class="btn btn-primary hideShowButton" (click)="changeHideShowImages()">{{showHideImages}}</button>
          <button class="btn btn-primary hideShowButton" (click)="changeHideShowIdentifiers()">
            {{showHideOthersIdentifiers}}</button>
        </div>
        <!-- Hide / Show buttons -> End ->

        <!-- Images - Start -->
        <div class="col-md-12" [ngClass]="{hideThis: imagesHideShow}">
          <hr />
          <h4>{{images}}</h4>
          <div class="row">
            <div *ngFor="let image of currentMedia.images" class="col-sm-offset-1">
              <img *ngIf="image.featured == 1" src="{{basicURL}}{{image.url}}" alt="featured image" class="col-sm-4">
              <img *ngIf="image.featured != 1" src="{{basicURL}}{{image.url}}" alt="not featured image" class="col-sm-3">
            </div>
          </div>
          <hr />
        </div>
        <!-- Images - End -->

        <!-- Identifiers - Start -->
        <div class="col-md-12"  [ngClass]="{hideThis: identiriersHideShow}">
          <hr />
          <h4>{{othersIdentifiers}}</h4>
          <div class="row">
            <div *ngFor="let identifier of currentMedia.identifiers">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="identifiers">{{identifier?.title}}</label>
                  <input type="text" id="identifiers"
                         class="form-control" value="{{identifier?.input}}">
                </div>
              </div>
            </div>
          </div>
          <hr />
        </div>
        <!-- Identifiers - End -->

        <div class="col-md-6" *ngIf="currentPurpose == 'Allowed'">
          <div class="form-group">
            <label for="for_change">{{changeStatus}}</label>
            <input type="text" *ngIf="currentMedia?.for_change == 0" class="form-control"
                   id="for_change" value="{{changeNotAllowed}}">
            <input type="text" *ngIf="currentMedia?.for_change == 1" class="form-control"
                   id="for_change" value="{{changeAllowed}}">
          </div>
        </div>

        <!-- c) Disabled -->
        <!--<div class="col-md-6 pull-right">-->
          <!--<div class="form-group">-->
            <!--<label for="offer">{{sendOffer}}</label>-->
            <!--<input type="submit" class="btn btn-primary form-control" id="offer" value="{{sendOffer}}">-->
          <!--</div>-->
        <!--</div>-->

      </fieldset>
    </form>
  </div>
  <!-- Show for changeable and available media -> Template drive approach -> End -->

  <!-- Show for personal media -> Data drive approach -> Start -->
  <div class="row" id="audioPersonalForm" *ngIf="currentPurpose == 'Personal' && currentMedia.id">

    <form (ngSubmit)="updateMedia(f)" #f="ngForm">
      <fieldset>
        <legend>{{currentMedia?.album}}{{currentMedia?.name}}
          <span *ngIf="!currentMedia.album && !currentMedia.name">{{selectMedia}}</span>
        </legend>

        <input type="hidden" [ngModel]="currentMediaType" name="media_category">
        <input type="hidden" [ngModel]="currentMedia?.id" name="id">

        <!-- Media categories -> Start -->
        <div class="col-md-6" *ngIf="currentMediaType == 'Audio'">
          <div class="form-group">
            <label for="categoryPersonal">{{mediaCategory}}</label>
            <select name="category_id" id="categoryPersonal" class="form-control"
                    [ngModel]="currentMedia?.audio_category_id">
              <option *ngFor="let c of audioCategories;" value="{{c.id}}">{{c.name}}</option>
            </select>
          </div>
        </div>

        <div class="col-md-6" *ngIf="currentMediaType == 'Video'">
          <div class="form-group">
            <label for="categoryPersonal">{{mediaCategory}}</label>
              <select name="category_id" id="categoryPersonal" class="form-control"
                      [ngModel]="currentMedia?.video_category_id">
                <option *ngFor="let c of videoCategories;" value="{{c.id}}">{{c.name}}</option>
              </select>
          </div>
        </div>
        <!-- Media categories -> End -->

        <div class="col-md-6">
          <div class="form-group">
            <label for="conditionPersonal">{{condition}}
              <a target="_blank" href="http://www.goldminemag.com/collector-resources/record-grading-101">(global)</a>
            </label>
              <select name="condition_id" id="conditionPersonal" class="form-control"
                      [ngModel]="currentMedia?.condition_id">
                <option *ngFor="let c of conditions;" value="{{c.id}}">{{c.name}}</option>
              </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="bandDirectorPersonal" *ngIf="currentMediaType == 'Audio'">{{band}}</label>
            <label for="bandDirectorPersonal" *ngIf="currentMediaType == 'Video'">{{director}}</label>
            <input type="text" class="form-control" id="bandDirectorPersonal"
                   [ngModel]="currentMedia?.band || currentMedia?.director" name="bandDirector">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="albumNamePersonal" *ngIf="currentMediaType == 'Audio'">{{album}}</label>
            <label for="albumNamePersonal" *ngIf="currentMediaType == 'Video'">{{name}}</label>
            <input type="text" class="form-control" id="albumNamePersonal"
                   [ngModel]="currentMedia?.album || currentMedia?.name" name="albumName">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="yearPersonal">{{year}}</label>
            <input type="number" class="form-control" id="yearPersonal"
                   [ngModel]="currentMedia?.year" name="year">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="first_release_yearPersonal">{{originalReleaseYear}}</label>
            <input type="number" class="form-control" id="first_release_yearPersonal"
                   [ngModel]="currentMedia?.first_release_year" name="first_release_year">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="descriptionPersonal">{{description}}</label>
            <br />
            <textarea rows="6" style="width: 100%" id="descriptionPersonal"
                      [ngModel]="currentMedia?.description" name="description"></textarea>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="personalNote">{{personalNote}}</label>
            <br />
            <textarea rows="4" style="width: 100%" id="personalNote"
                      [ngModel]="currentMedia?.personal_note" name="personal_note"></textarea>
          </div>
        </div>

        <div class="col-md-6" *ngIf="currentMediaType == 'Audio'">
          <div class="form-group">
            <label for="labelPersonal">{{label}}</label>
            <input type="text" class="form-control" id="labelPersonal"
                   value="currentMedia?.label" name="label">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="barcode_numbersPersonal">{{barcodeNumber}}</label>
            <input type="text" class="form-control" id="barcode_numbersPersonal"
                   [ngModel]="currentMedia?.barcode_numbers" name="barcode_numbers">
          </div>
        </div>

        <div class="col-md-6" *ngIf="currentMediaType == 'Audio'">
          <div class="form-group">
            <label for="catPersonal">CAT</label>
            <input type="text" class="form-control" id="catPersonal"
                   [ngModel]="currentMedia?.cat" name="cat">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="for_changePersonal">{{changeStatus}}</label>
              <select name="for_change" id="for_changePersonal" class="form-control" [ngModel]="currentMedia?.for_change">
                <option value="0">{{changeNotAllowed}}</option>
                <option value="1">{{changeAllowed}}</option>
              </select>
          </div>
        </div>

        <!-- Hide / Show buttons -> Start -->
        <div class="col-sm-12">
          <button class="btn btn-primary hideShowButton" (click)="changeHideShowImages()">{{showHideImages}}</button>
          <button class="btn btn-primary hideShowButton" (click)="changeHideShowIdentifiers()">
            {{showHideOthersIdentifiers}}</button>
        </div>
        <!-- Hide / Show buttons -> End ->

         <!--Images - Start -->
        <div class="col-md-12" [ngClass]="{hideThis: imagesHideShow}">
          <hr />
          <h4>{{images}}</h4>
          <div class="row">
            <div *ngFor="let image of currentMedia.images" class="col-xs-offset-1">

              <img *ngIf="image.featured == 1 && !isInDeletedImageArray(image.id)" src="{{basicURL}}{{image.url}}"
                   alt="featured image" class="col-xs-2">
              <div class="col-xs-1">
              <button *ngIf="image.featured == 1 && !isInDeletedImageArray(image.id)" class="btn btn-danger"
                        (click)="deleteImage(currentMedia.id,image.id)">X</button>
              <button *ngIf="image.featured == 1 && newFeaturedImageId != 0 && !isInDeletedImageArray(image.id)
                                && newFeaturedImageId != image.id"
                      class="btn btn-primary" (click)="setNewFeaturedImage(currentMedia.id, image.id)">F *</button>
              </div>

              <img *ngIf="image.featured != 1 && !isInDeletedImageArray(image.id)" src="{{basicURL}}{{image.url}}"
                   alt="not featured image" class="col-xs-2 styleForNotFeatured">
              <div class="col-xs-1">
                <button *ngIf="image.featured != 1 && !isInDeletedImageArray(image.id)" class="btn btn-danger"
                        (click)="deleteImage(currentMedia.id, image.id)">X</button>
                <button *ngIf="image.featured != 1 && !isInDeletedImageArray(image.id)
                                && newFeaturedImageId != image.id"
                        class="btn btn-primary" (click)="setNewFeaturedImage(currentMedia.id, image.id)">F *</button>
              </div>

            </div>

            <!-- Set new image -> Start -->
            <div class="col-xs-3" *ngIf="currentMedia.images.length < 3">
              <div class="form-group" id="imageUpload">
                <label for="uploadImage" class="btn uploadImageShow" id="uploadImageShow">{{addPhoto}}
                  <span *ngIf="currentMedia.images.length < 3">**</span></label>
                <input type="file" class="uploadImage" id="uploadImage"
                       (change)="fileUpload($event, currentMedia)" accept=".jpg,.png">
              </div>
            </div>
            <!-- Set new image -> End -->

          </div>
          <br />
            <div class="pull-right" style="font-size: 1.2rem">
              <p *ngIf="currentMedia.images.length > 1">* {{makeFeatured}}</p>
              <p *ngIf="currentMedia.images.length < 3">** {{addPhotoInfo}}</p>
            </div>
          <br /><br />
          <hr />
        </div>
        <!-- Images - End -->

        <!-- Identifiers - Start -->
        <div class="col-md-12" [ngClass]="{hideThis: identiriersHideShow}">
          <hr />
          <h4>{{othersIdentifiers}}</h4>

          <!-- Set identifiers -> Start -->

          <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="identifierName">{{identifierNameTitle}}</label>
              <input type="text" id="identifierName" class="form-control" #identifierName>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="identifierValue">{{identifierValueTitle}}</label>
              <input type="text" id="identifierValue" class="form-control" #identifierValue>
            </div>
          </div>

          <div class="col-md-1">
            <div class="form-group">
              <label for="addIdentifier">{{identifierAdd}}</label>
              <button type="button" id="addIdentifier" class="btn btn-primary form-control"
                      (click)="onAddIdentifier(identifierName, identifierValue)">+</button>
            </div>
          </div>

          <!-- Set identifiers -> End -->

          <!-- Show & remove identifiers -> Start -->
            <hr />
            <div *ngFor="let identifier of currentIdentifiers; let i = index">
              <div class="col-md-5">
                <div class="form-group">
                  <input type="text" class="form-control" value="{{identifier?.title}}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" value="{{identifier?.input}}">
                </div>
              </div>
              <div class="col-md-1">
                <div class="form-group">
                  <button class="btn btn-danger" value="X" (click)="onRemoveIdentifier(i)">X</button>
                </div>
              </div>
            </div>
          </div>
          <hr />
        </div>
          <!-- Show & remove identifiers -> End -->

        <!-- Identifiers - End -->

        <div class="col-md-6">
          <div class="form-group">
            <label for="created_at">{{createdAt}}</label>
            <input type="date" class="form-control" id="created_at"
                   value="{{currentMedia?.created_at?.date.slice(0,10)}}" disabled="disabled">
          </div>
        </div>

        <div class="col-md-6" *ngIf="currentMediaUpdateDate == null">
          <div class="form-group">
            <label for="updated_at">{{updatedAt}}</label>
            <input type="date" class="form-control" id="updated_at"
                   value="{{currentMedia?.updated_at?.date.slice(0,10)}}" disabled="disabled">
          </div>
        </div>

        <div class="col-md-6" *ngIf="currentMediaUpdateDate != null">
          <div class="form-group">
            <label for="updated_at_new">{{updatedAt}}</label>
            <input type="date" class="form-control" id="updated_at_new"
                   value="{{currentMediaUpdateDate.slice(0,10)}}" disabled="disabled">
          </div>
        </div>

        <div class="col-md-6 pull-right">
          <div class="form-group">
            <label for="update">{{update}}</label>
            <button type="submit" class="btn btn-primary form-control" id="update">{{update}}</button>
          </div>
        </div>

        <div class="col-md-6 pull-right">
          <div class="form-group">
            <label for="delete">{{delete}}</label>
            <button class="btn btn-primary form-control" id="delete" (click)="deleteMedia()">{{delete}}</button>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
  <!-- Show for personal media -> Data drive approach -> End -->
