<h3>{{forChange}}</h3>
<h4>{{currentViewMedia}}</h4>

<form>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="{{searchMessage}}"
           #searchValue (input)="searchTerm = $event.target.value">
  </div>
</form>

<!-- Show list for audio -> Start -->

<ul class="list-group" *ngIf="currentViewMedia == 'Audio'">
  <li class="list-group-item" *ngFor="let audio of audioForChangeWithTerm" (click)="setCurrentMedia(audio)"
      [ngClass]="{currentView: currentAudioId == audio.id, userMedia: audio.user_id == userId}">
    {{audio.band + ' - ' + audio.album}}<span *ngIf="audio.year">{{' (' + audio?.year + ')'}}</span>
    <span *ngIf="audio.user_id == userId" class="pull-right">{{personal}}</span></li>
</ul>

<!-- Show list for audio -> End -->

<!-- Show list for video -> Start -->

<ul class="list-group" *ngIf="currentViewMedia == 'Video'">
  <li class="list-group-item" *ngFor="let video of videoForChangeWithTerm" (click)="setCurrentMedia(video)"
      [ngClass]="{currentView: currentVideoId == video.id, userMedia: video.user_id == userId}">
    {{video.name}}<span *ngIf="video.year">{{' (' + video?.year + ')'}}</span>
    <span *ngIf="video.user_id == userId" class="pull-right">{{personal}}</span></li>
</ul>

<!-- Show list for video -> End -->